<table align="center" class="flipcountdown-footer">
  <tbody>
  <tr>
    <td class="flipcountdown-footer-labels">Days</td>
    <td class="flipcountdown-footer-sep"></td>
    <td class="flipcountdown-footer-labels">Hours</td>
    <td class="flipcountdown-footer-sep"></td>
    <td class="flipcountdown-footer-labels">Minutes</td>
    <td class="flipcountdown-footer-sep"></td>
    <td class="flipcountdown-footer-labels">Seconds</td>
  </tr>
  </tbody>
</table>