<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 shift-top">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'icobox/distribution' %>
      </div>
    </div>
  </div>
</div>
