<div class="card login-card error-page">
  <div class="card-content text-left">
    <div><h1><%= @title %></h1></div>
    <h2><%= @description %></h2>
    <div class="down-box">
      <%= link_to('Visit main page', root_path, data: { turbolinks: false }) %>
    </div>
  </div>
</div>
