<div id="user-activate-modal" class="bootstrap-modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm activation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please confirm that you are going to activate
          user <b><span id="modal-user-activate-email"></span></b> who <b>has not</b> confirmed email address.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-activate-modal">Activate</button>
        <button type="button" class="btn btn-secondary btn-close-modal">Close</button>
      </div>
    </div>
  </div>
</div>
